@font-face {
font-family: 'Circe Regular';
src: url('../fonts/circe/Circe-Regular.eot');
src: url('../fonts/circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/circe/Circe-Regular.woff') format('woff'),
url('../fonts/circe/Circe-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}